love = #fe1075

@import 'nib'

body
  background-color black !important
  color white !important

a
  color love !important

.gndx
  text-align center
  .love
    color love
    font-weight bold
    content: "♥";

// Styles
.cd_iphone_slider
  padding 7vh 0 6vh
  #slider
    width 250px !important
    height 500px !important
    margin 0 auto
    // download Imagen and Upload
    background url('https://s3.amazonaws.com/gndx/codepen/img/iphone7_slider.png') left top no-repeat
    padding-top 60px
  .cd_items
    width 213px !important
    margin-left 19px !important
.carousel-indicators
  bottom -105px !important
